.due-date-menu {
    position: absolute;
    width: 230px;
    border: 2px solid var(--primary-color);
    background-color: #F2F0EF; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 3px; 
}

.due-date-input-wrapper {
    display: flex;
    flex-direction: row;
}

.date-input-box {
    display: flex;
}

.date-submit-button {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}