.note-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px 10px;
    gap: 8px;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-half {
    display: flex;
    align-items: center;
}

.right-half {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.task-input {
    padding: 2px 5px;
    border: none;
    background-color: transparent;
}

.task-input:focus {
    outline: none;
}

.add-icon {
    width: 15px;
    height: 15px;   
}

.trash-icon {
    width: 20px;
    height: 20px;   
}

.clicked {
    background-color: var(--tertiary-color);
} 