.motivational-message-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px; 
    display: flex;
    align-items:center;
    justify-content: center;
  }
  
  .motivational-message {
    position: absolute;
    white-space: nowrap;
    animation: slideInOut 30s linear infinite;
    font-size: 1rem;
    margin: 0;
    text-align: center;
  }
  
  @keyframes slideInOut {
    0% {
      transform: translateX(-190%);
    }
    5% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(190%);
    }
    100% {
      transform: translateX(190%);
    }
  }
  