.pet-page-container {
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-display-container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-egg {
  width: 125px; /* Adjust size as needed */
  height: auto;
}

.Center {
  text-align: center;
}

.in-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.child {
  width: 49%;
  z-index: 10;
}

.pet-name-input {
  /* width: 94%; */
  border: 2px solid;
  border-color: var(--primary-color);
  padding: 10px;
  border-radius: 3px;
  background-color: #f2f0ef;
  /* color: var(--secondary-color); */
  text-align: center;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.25rem;
}
