.task-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;
}

.checkbox {
    appearance: none;
    background-color: transparent;
    margin: 0;
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    /*transform: translateY(5px);*/
    display: grid;
    place-content: center;
}

.checkbox::before {
    content: ""; 
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 12px 12px var(--primary-color);
}

.checkbox:checked::before {
    transform: scale(1);
}

.task-text {
    margin: 0px; 
}

.task-name-container {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-left: 5px;
}

.task-text-completed{
    margin: 0px; 
    text-decoration: line-through;
}

.task-progress-bar {
    margin: 0px;
}

.category-indicator {
    /*
    border-radius: 10px;
    border-color: var(--primary-color);
    border-width: 5px;
    */
    width: 0px; /* Diameter of the circle */
    height: 0px; /* Diameter of the circle */
    border: 5px solid black; /* Thick border */
    border-radius: 50%; /* Makes it a circle */
    background-color: lightblue; /* Optional: background color */
    display: inline-block; /* Ensure it behaves like a standalone block */
    align-items: center;
}

.category-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px; 
}

.category-button {
    display: flex;
    font-family: var(--main-font);
    font-size: .6rem;
    font-weight: 400;
    color: #F2F0EF;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    align-items: center;
    height: 20px;
}

.task-input-edit {
    border: none;
    background: transparent;
    font-family: var(--main-font);
    font-size: .9rem;
    font-weight: 400;
    margin-left: 0em;
    padding: 0px;
    padding-left: 0px;
    outline: none;
}

.easy {
    background-color: green;
}

.medium {
    background-color: orange;
}

.hard {
    background-color: red;
}