.task-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;
}

.checkbox {
    appearance: none;
    background-color: transparent;
    margin: 0;
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    /*transform: translateY(5px);*/
    display: grid;
    place-content: center;
}

.checkbox::before {
    content: ""; 
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 12px 12px var(--primary-color);
}

.checkbox:checked::before {
    transform: scale(1);
}

.task-text {
    margin: 0px; 
}

.task-name-container {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-left: 5px;
}

.task-text-completed{
    margin: 0px; 
    text-decoration: line-through;
}

.task-progress-bar {
    margin: 0px;
}