.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 556px;
    gap: 14px;
}

.login-toggle-container {
    display: flex;
    gap: 2px;
    align-items: center;
}

.login-text {
    margin: 2px; 
}

.login-text-link {
    margin: 2px;
    font-weight: bold;
}

.login-text-link:hover {
    margin: 2px;
    color: var(--tertiary-color);
    font-weight: bold;
}

.input {
    width: 21vw;
    border: none;
    padding: 10px; 
    border-radius: 3px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.login-button {
    width: 100%; 
    padding: 6px 15px; 
    border: 2px solid #2b2b2b;
    color: #2b2b2b;
    font-weight: bold;
    border-radius: 5px; 
    background-color: transparent; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    outline: none; 
    text-decoration: none; 
    margin-top: 5px;
    transition: background-color 0.2s, border-color 0.2s; 
}